body {
  text-align: center;
  background-color: goldenrod;
}
a {
  text-decoration: none;
  color: teal;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
  font-size: larger;
}
.about-link {
  margin-bottom: 20px;
}
